# Visual Studio
.vscode/
*.sln
*.vcxproj*
*.user
*.obj
*.pdb
*.idb
*.log
*.tlog
*.ipch
*.aps
*.ncb
*.suo
*.opensdf
*.sdf
*.cache
*.ilk
*.exe
*.dll
*.lib
*.exp
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
install/
_debug/
_release/
